<div class="container">
    <h1>Lista Grupos</h1>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Duración</th>
                <th scope="col">Nivel</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td class="align-middle">{{course.id}}</td>
                <td class="align-middle">{{course.name}}</td>
                <td class="align-middle">{{course.duration}}</td>
                <td class="align-middle">{{course.level}}</td>
                <td class="align-middle">
                    <button class="btn btn-primary" routerLink="detalle-curso" [queryParams]="{id:course.id,action:'create'}">Agregra</button>
                    <button class="m-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalleCurso"
                        routerLink="detalle-curso" [queryParams]="{id:course.id,action:'modify'}">Modificar</button>
                    <button class="btn btn-danger">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="detalleCurso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
